**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/*.prof
**/*.lprof
**/*.svg
**/.env
*.egg-info/
build/
dist/
coverage.xml
.coverage
features/
*.yaml
!.github/**/*.yaml
.venv/
grizzly-example/
tests/manual
*.event
*.tar.gz
*.hprof
tmp/
requirements.txt
grizzly_cli/__version__.py
tests/e2e/example
tests/tmp
