**/__pycache__
**/.mypy_cache
**/.pytest_cache
*.egg-info/
build/
dist/
coverage.xml
.coverage
features/
*.yaml
!.github/**/*.yaml
.venv/
grizzly-example/
*.event
*.tar.gz
.dockerignore
tmp/
requirements.txt
